.center{
    display: flex;
    justify-content: center;
}


h2 {
    color: #2b2d30;
    font-family: "ZCOOL KuaiLe", sans-serif;
    text-align: center;
}


header {
    background-color: #f64b2f;
    text-align: center;
}


@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.animated-text {
    font-size: 24px;
    font-weight: bold;
    animation: fadeInOut 2s infinite;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.animated-text {
    font-size: 24px;
    font-weight: bold;
    animation: fadeInOut 2s infinite;
    margin-bottom: 20px;
    color: #ff6600; /* Orange color */

}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #ff6600; /* Orange */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: 0 auto; /* Center the loader */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* 在 style.css 中添加以下 CSS 代碼 */

.button-container {
    text-align: center;
    margin-top: 20px;
}

.home-button,
.fan-page-button,
.help-center-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #ff6600; /* Orange background */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.home-button:hover,
.fan-page-button:hover,
.help-center-button:hover {
    background-color: #cc5200; /* Darker orange on hover */
}


.feedback-section {
    margin: 40px auto;
    width: 80%;
    max-width: 500px;
    text-align: left;
    border: 2px solid orange;
    padding: 20px;

}

.feedback-section h3 {
    text-align: center;
    color: #ff6600;
}

.feedback-section form {
    display: flex;
    flex-direction: column;
}

.feedback-section label {
    margin-bottom: 5px;
    font-weight: bold;
}

.feedback-section input,
.feedback-section textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #ff6600; /* Orange background */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.submit-button:hover {
    background-color: #cc5200; /* Darker orange on hover */
}

